<footer class="page-footer font-small bg-secondary bg-dark pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white"></h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">

                <ul class="socialNetwork">

                    <!-- Google -->
                    <a class="btn btn-primary btn-floating m-1 " href="mailto:pmarsiglia93@gmail.com " target="blank ">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    </a>

                    <!-- Linkedin -->
                    <a class="btn btn-primary btn-floating m-1 " href="https://www.linkedin.com/in/paulomarsiglia/ "
                        target="blank ">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>

                    <!-- Github -->
                    <a class="btn btn-primary btn-floating m-1 " href="https://github.com/pmarsiglia93 "
                        target="blank ">
                        <i class="fa fa-github-alt" aria-hidden="true"></i>
                    </a>
                </ul>

            </div>
        </div>
    </div>

    <div class="footer-copyright bg-dark text-center py-3">
        <span class="text-light"> &copy; 2022 Copyright </span>
        <a class="text-light" target="_blank" href=""> Feito com carinho: Paulo Francisco Marsiglia</a>
    </div>


</footer>
