<div class="container-fluid bg-secondary">
    <div class="container">
        <div class="row d-flex align-itens-center">
            <div class="col-md-6 d-flex flex-column align-itens-center justify-content-center">
                <h2>Bem vindo ao meu <span>blog pessoal</span></h2>
                <p>Publique aqui o que você quiser... tmj</p>

                <div class="d-flex justify-content-center">
                    <button class="btn btn-outline-light">Nova Postagem</button>
                    <button class="btn btn-outline-light">Ver Postagem</button>
                </div>
            </div>
            <div class="col-md-6">
                <img src="assets/Imagens/will.jpg" alt="" width="450">
            </div>
        </div>
    </div>
</div>


<div class="container">
    <ul class="nav nav-pills mb-3 d-flex justify-content-center" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</a>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">todas postagens</div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">minhas postagens</div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">postagens por temas</div>
    </div>
</div>